*{
    margin:0px;
    padding:0px;
}


.bodyy{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(5deg, rgba(5,0,93,1) 11%, rgba(226,229,230,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.btnAnotherPage{
    height: 40px;
    border-radius: 10px;
    background-color: rgba(177, 220, 255, 0.479);
    color: white;
    font-weight: bold;
    font-size: large;
}

.btnAnotherPage:hover{
    background-color: rgba(255, 255, 255, 0.086);
}