.btnLogout{
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    background-color: rgba(177, 220, 255, 0.479);
    color: white;
    font-weight: bold;
    font-size: large;
}


.btnLogout:hover{
    background-color: rgba(255, 255, 255, 0)
}
.btnHome{
    height: 20%;
    border: 5px;
    font-size: large;
    border-style: groove;
    width: 20%;
    border-radius: 25px;
    color:rgb(4, 73, 39);
    font-weight: bold;
}