.screenMain{
    width: 100vw;
    height:100vh;
    background: linear-gradient(79deg, rgba(109,118,119,1) 4%, rgba(176,214,227,1) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}