.underBody{
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.377);
}

.formLogin{
  display: grid;
  width: 30vw;
  height: max-content;
  padding: 2rem;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.26);
}


.btnLogin{
  border-radius: 5px;
  margin-top: 10px;
  width: 80%;
  justify-self: center;
  padding: 8px 0px;
  border-style: none;
  color:white;
  font-size: large;
  background-color: rgb(5, 85, 171);
}
.btnLogin:hover{
  background-color: rgba(108, 143, 182, 0.753);
}

.formLogin input{
  margin:3px 0px;
  
}

.form{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.labelPassword{
  padding: 5px;
  color:white;
  font-size: large;

}
.labelLogin{
  padding: 5px;
  color: white;
  font-size: large;
}

.loginInput{
  padding:5px 0px;
  border-radius: 5px;
  border-color: white;
  border-style: groove;
  text-align: center;
  font-size: large;
}
.passInput{
  padding:5px 0px;
  font-size: large;
  text-align: center;
  border-radius: 5px;
  border-color: white;
  border-style: groove;
}

.authJWTh1{
  color:rgba(255, 255, 255, 0.918);
  text-align: center;
}